name: Build and Push Docker Images

on:
  push:
    branches:
      - main

env:
  IMAGE_REGISTRY: ghcr.io/nicholasdavidbrown
  FRONTEND_PACKAGE_NAME: client
  BACKEND_PACKAGE_NAME: server
  DATABASE_PACKAGE_NAME: mongodb
  AZURE_MONGODB_RESOURCE_NAME: cali-db
  VITE_API_URL: ${{ vars.VITE_API_URL }}
  FRONTEND_IMAGE_TARGET: ghcr.io/nicholasdavidbrown/cali-calendar-ai-client:${{ github.head_ref || github.ref_name }}
  BACKEND_IMAGE_TARGET: ghcr.io/nicholasdavidbrown/cali-calendar-ai-server:${{ github.head_ref || github.ref_name }}
  DATABASE_IMAGE_TARGET: ghcr.io/nicholasdavidbrown/cali-calendar-ai-db:${{ github.head_ref || github.ref_name }}

jobs:
  # ==================================================================================================
  # BUILD AND PUBLISH CLIENT DOCKER IMAGE
  # ==================================================================================================
  build_and_publish_client:
    name: Build and push client image
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Verify GitHub environment vars
        run: |
          echo "========= [Environment Variables] ========="
          echo "Environment variable VITE_APP_ENV: ${{ vars.VITE_APP_ENV }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        env:
          NODE_ENV: production
          GENERATE_SOURCEMAP: false
          VITE_APP_ENV: ${{ vars.VITE_APP_ENV }}

        with:
          context: ./
          file: ./packages/${{ env.FRONTEND_PACKAGE_NAME }}/Dockerfile
          push: true
          tags: ${{ env.FRONTEND_IMAGE_TARGET }}
          build-args: |
            NODE_ENV=${{ env.NODE_ENV }}
            GENERATE_SOURCEMAP=${{ env.GENERATE_SOURCEMAP }}
            VITE_APP_ENV=${{ env.VITE_APP_ENV }}
            VITE_API_URL=${{ env.VITE_API_URL }}

  # ==================================================================================================
  # DEPLOY CLIENT DOCKER CONTAINER
  # ==================================================================================================
  deploy-client:
    name: Deploy cali-calendar-ai-client container
    runs-on: ubuntu-latest
    needs: build_and_publish_client
    environment: production

    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_RESOURCE_NAME }}
          slot-name: "Production"
          publish-profile: ${{ secrets.CALI_CLIENT_PUBLISH_PROFILE }}
          images: "${{ env.FRONTEND_IMAGE_TARGET }}"

  # ==================================================================================================
  # BUILD AND PUBLISH SERVER DOCKER IMAGE
  # ==================================================================================================
  build_and_publish_server:
    name: Build and push server image
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Verify GitHub environment vars
        run: |
          echo "========= [Environment Variables] ========="
          echo "Environment variable NODE_ENV: ${{ vars.NODE_ENV }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./packages/${{ env.BACKEND_PACKAGE_NAME }}/Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE_TARGET }}

  # ==================================================================================================
  # DEPLOY SERVER DOCKER CONTAINER
  # ==================================================================================================
  deploy-server:
    name: Deploy cali-calendar-ai-server container
    runs-on: ubuntu-latest
    needs: build_and_publish_server
    environment: production

    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_RESOURCE_NAME }}
          slot-name: "Production"
          publish-profile: ${{ secrets.CALI_SERVER_PUBLISH_PROFILE }}
          images: "${{ env.BACKEND_IMAGE_TARGET }}"

  # ==================================================================================================
  # BUILD AND PUBLISH MONGODB DOCKER IMAGE
  # ==================================================================================================
  build_and_publish_mongodb:
    name: Build and push MongoDB image
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push MongoDB Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./packages/${{ env.DATABASE_PACKAGE_NAME }}
          file: ./packages/${{ env.DATABASE_PACKAGE_NAME }}/Dockerfile
          push: true
          tags: ${{ env.DATABASE_IMAGE_TARGET }}

  # ==================================================================================================
  # DEPLOY MONGODB DOCKER CONTAINER
  # ==================================================================================================
  deploy-mongodb:
    name: Deploy cali-calendar-ai-mongodb container
    runs-on: ubuntu-latest
    needs: build_and_publish_mongodb
    environment: production

    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_MONGODB_RESOURCE_NAME }}
          slot-name: "Production"
          publish-profile: ${{ secrets.CALI_MONGODB_PUBLISH_PROFILE }}
          images: "${{ env.DATABASE_IMAGE_TARGET }}"
